<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Detailed Instructions</title>
            <!--<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='editing2.css')}}"> -->
        </head>
        <body>
            <h3>Detailed Instructions</h4>>
            <h4>Origin File Upload</h4>
            <h4>1. First click on the choose file option to specify which file will be transfered</h4>
            <h4>-----------------------------------------------------------------------------------------------------------</h4>
            <img src="..\static\images\step1.png" height="400px" width="500px" alt="stepOne">
            <h4>-----------------------------------------------------------------------------------------------------------</h4>
            <h4>2. Choose the file that will be used by navigating to it
            <br>  - The file needs to be an approved file type (.xlsx, .xls)
            </h4>
            <h4>3. Select the file path destination and new file name for your altered file</h4>
            <h4>-----------------------------------------------------------------------------------------------------------</h4>
            <img src="../static/images/step2.png" height="400px" width="500px"  alt="stepTwo">
            <h4>-----------------------------------------------------------------------------------------------------------</h4>
            <h4>  - the file path needs to include the name of the file in csv format
            <br> - Example: C:\Users\username\Desktop\newfolder\<u>alteredfile.csv</u>
            <br>    - the file name must end in .csv
            </h4>
            <h3>Getting File Path</h3>
            <h4>Find the location you want to keep the new file in File Explorer</h4>
            <h4>Right click the url at the top and "copy as text"</h4>
            <img src="../static/images/step3.png" height="400px" width="500px"  alt="stepThree">
            <img src="../static/images/step4.png" height="400px" width="500px"  alt="stepFour">
            <h4>The filename has to be typed manually</h4>
            <img src="../static/images/step5.png" height="400px" width="500px"  alt="stepFive">hit upload
            <h4>After you have pasted the file path and included the file name </h4>
        </body>