<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Detailed Instructions</title>
            <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='editing2.css')}}"> 
        </head>
        <body>
            <h5>Detailed Instructions</h5>
            <p>Origin File Upload</p>
            <p>1. First click on the choose file option to specify which file will be transfered</p>
            <img src="..\static\images\step1.png" height="400px" width="500px" alt="stepOne">
            <p>2. Choose the file that will be used by navigating to it
            <br>  - The file needs to be an approved file type (.xlsx, .xls)
            </p>
            <p>3. Select the file path destination and new file name for your altered file</p>
            <img src="../static/images/step1.png" height="400px" width="500px"  alt="stepTwo">
            <p>  - the file path needs to include the name of the file in csv format
            <br> - Example: C:\Users\username\Desktop\newfolder\alteredfile.csv
            </p>
        </body>